.alert {
  background-color: #4f94a0;
  border-radius: 1px 10px;
  padding: 6px;
  margin: 40px auto;
}

.alert2 {
  background-color: #4f94a0;
  border-radius: 1px 10px;
  padding: 6px;
  width: fit-content;
  margin: 40px auto;
}